body{
    min-height: 100vh;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        overflow-x: hidden;
        background: #fff;
        color: #0d0c22;
}
*::after, *::before, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.nav-container{
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 24px;
    margin-left: 24px;
    align-items: center;
    padding: 1rem 0;
    width: auto;
    background-color: #fff;
    border-bottom: 1px solid #6e6d7a;
}
.nav-container a{
    color:  #6e6d7a;
    font-size: 1.2rem;
}
.signUp a{
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #ea4c89;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
}
.nav-container nav span{
    padding-right: 16px;
    padding-left: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.nav-container nav{
    display: flex;
    align-items: center;
}
.sect-two-nav{
    display: flex;
    align-items: center;
}
.sect-two-nav li{
    padding: 0 1.2rem;
}
.backgroundVideo{
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    height: 500px;
    padding: 50px 20px;
    overflow: hidden;
    background: #000
}
.videoWrap{
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-flex-align: center;
    align-items: center;
    -webkit-filter: brightness(0.9);
    filter: brightness(0.5);
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
.videotag{
    position: absolute;
    height: auto;
    object-fit: cover;
    filter: brightness(1);
    opacity: 1;
    height: 100%;
    width: 100vw;
}
.btns{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 2rem;
}
.btns button{
    margin: 0;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 16px;
    /* border: unset; */
}
.btns button:hover, .btns button:focus{
    background: rgb(255, 255, 255);
    color: #000;
    border-color: transparent;
}
.navText{
    position: absolute;
    z-index: 2;
    color: #fff;
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    margin-top: 4rem;
}
.navText h2{
    font-size: 32px;
    font-family: sans-serif;
    padding-bottom: .5rem;
}
.navText p{
    font-size: 16px;
    padding-top: .5rem;
    font-weight: 800;
    word-break: break-all;
    word-spacing: .1rem;
}
.navText > div{
    padding-top: 1.3rem;
    padding-bottom: 2rem;
}
.navText form{
    width: 50%;
    position: relative;
}
.navText form i{
    position: absolute;
    left: 2%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #6e6d7a;
}
.navText input{
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px 19px;
    padding-left: 2rem;
    -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
    border-radius: 18px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: unset;
}
